@(message: String)

@Main("Infinity") {
    <div class="mainInf text-center">
      <h2>Infinity Display</h2>
      <div class="infanimation">
        <img src="@routes.Assets.at("images/Capture.JPG")" height="400px" width="400px">
      </div>

      <h3>Movie Opacity</h3>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">off</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Animation
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Animation 1</a></li>
            <li><a href="#">Animation 2</a></li>
            <li><a href="#">Animation 3</a></li>
            <li><a href="#">Animation 4</a></li>
            <li><a href="#">Animation 5</a></li>
            <li><a href="#">Animation 6</a></li>
            <li><a href="#">Animation 7</a></li>
            <li><a href="#">Animation 8</a></li>
            <li><a href="#">Animation 9</a></li>
          </ul>
        </div>
      </div>

      <h3>Equalizer Opacity</h3>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">off</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>
      </div>

      <h3>Wave Opacity</h3>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">off</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>
      </div>

      <h3>Sensitivity</h3>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">off</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>
      </div>

      <h3>Filter</h3>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">off</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>
      </div>

      <h3>Trail</h3>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">off</button>
        <button type="button" class="btn btn-default">1</button>
        <button type="button" class="btn btn-default">2</button>
        <button type="button" class="btn btn-default">3</button>
        <button type="button" class="btn btn-default">4</button>
        <button type="button" class="btn btn-default">5</button>
        <button type="button" class="btn btn-default">6</button>
        <button type="button" class="btn btn-default">7</button>
        <button type="button" class="btn btn-default">8</button>
        <button type="button" class="btn btn-default">9</button>
      </div>

      <h3>Submit</h3>
      <button type="button" class="btn btn-default">Submit</button>

    </div>
}